.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}

.items-center {
  align-items: center;
}
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
